*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: antiquewhite;
    display: block;
}

#i_0_w{
    width:1100px;
    margin:0px auto;
	height:795px;
    /*border: 1px solid black;*/
    

}
header{
    background-color: rgb(248, 245, 235);
    height: 100px;
    width: 100%;
    margin: 0px;
	
    
}

aside{
    float: left;
    width: 40%;
    height: 695px;
    background-color:rgb(158, 154, 149);
}

#imagwel{
    float: right;
    width: 60%;
    height: 695px;
    background-color: rgb(238, 242, 245);
}

footer{
    width: 100%;
    height: 150px;
    background-color: gold;
    text-align: center;
    /*float: inline-end;*/
}
button.btn.btn-secondary{ 
    margin: 100px;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    background-color: blueviolet;
    
    
    

}
button.btn.btn-success{ 
    margin: -35px;
    float: right;
    border-left-width: 1px;
    margin-right: 29px;
    
    

}
.h2, h2{
    padding-left: 60px;
    padding-top: 84px;
    padding-right: 2px;
    padding-bottom: -26px;
	font-family: 'Pangolin', cursive;
}
.clearfix{
    clear: both;

}
.h1,h1{font-size: 2.5em;
       padding-left:110px; 
	   padding-top:22px;
	   font-family: 'Balsamiq Sans', cursive;}
	   
img{margin-top:-93px;
	padding-left:42px;}
	
	#new{
		margin-top: 95px;
		margin-left: -22px;
		
	}
	p{margin-top: 27px;
margin-bottom: 1rem;
margin-left:3px}

/*  @media screen and (max-device-width: 480px){
 .column { float:none;}   
}*/